<div class="container">
  <h2>Your Items</h2>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Skin name</th>
        <th>Quantity</th>
        <th>lowest selling Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userItem of userItems">
        <td><img src="{{userItem?.csgoItem.imageURL}}" alt="..." width="48"> </td>
        <td>{{userItem.csgoItem.displayName}}</td>
        <td>{{userItem.quantity}}</td>
        <td>{{userItem.csgoItem.lowestPrice}} €</td>
        <td>
          <button type="button" (click)="onOpenModal(userItem,'editItem')" id="updateItemButton" class="btn btn-primary">edit Item</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- eddit Item modal-->
<div id="updateUserItemModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <form #updateForm="ngForm" >
              <div class="modal-header">
                  <h4 class="modal-title">Update Item</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label>IMAGE URL</label>
                      <input type="hidden" ngModel = "{{updatingUserItem?.csgoItem}}" name="csgoItem" class="form-control" required>
                  </div>
                  <input type="hidden" ngModel = "{{updatingUserItem?.id}}" name="id" id="id" class="form-contorl">
                  <label>Quantity</label>
                  <input type="number" ngModel = "{{updatingUserItem?.quantity}}" name="quantity" id="quantity" class="form-contorl">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-warning" id="closeUpdateUserItemModal" data-dismiss="modal">
                      Cancel
                  </button>
                  <button type="submit" (click)="onEditItem(updateForm.value,updateForm)" class="btn btn-success">
                      <span >update</span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
